/* REGOLE GENERALI */
*{
  margin:auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container::after{
  content:"";
  clear: both;
  display: table;
}

.container{
  width: 80%;

}
.sx > ul > li{
  float: left;
  display: inline-block;
  padding: 10px;
  position:relative;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropmenu{
  position: absolute;
  display: none;
}

.dropmenu.active{
  display: block;
}

.item{
  display: block;
  padding: 5px;
}

.item:hover{
  background: red;
}

.dx > ul > li{
  float: right;
  display: inline-block;
  padding: 10px;
  position:relative;
}
